<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Clientes</title>
</head>
<body>

<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Endereço</th>
			</tr>
		</thead>
		<tr th:each="cliente:${cliente}">
			<td><span th:text="${cliente.nomeCliente}"></span></td>
			<td>
				<span th:text="${cliente.enderecoCliente}"></span> 
				<a th:href="${(#mvc.url('IC#pedidoFazer').arg(0, cliente.idCliente).build())}">pedir</a>
			</td>
		</tr>	
	</table>

</body>
</html>